[2016-08-12 21:17] Cyclodex opened #1 "Clone task description and project name to current entry"
@pfiaux mentioned that it would be nice to clone the **description** and **project name** from an existing entry

[2016-08-12 21:21] Cyclodex opened #2 "Display entries of past days"
Right now its only possible to see the current days entries.
Make it possible to see the past days as well.

[2016-08-12 21:23] Cyclodex opened #3 "Show additional summary time which does not include the break time"
It would be useful to directly see the full time of worked hours. Add an other summary which does not include the break time.

[2016-08-12 21:26] Cyclodex opened #4 "Fix graphical rendering issues (rendering the background color on tables)"
The table of entries has rendering issues with the background color. Fix it.

[2016-08-14 20:10] Cyclodex opened #5 "Finalize migration from Firebase 2.4.0 to 3.x"
Currently Cyclone uses a mix of Firebase, for the new authentication.
The base of the software is however using the old 2.4.0 version still, as well as some dependencies as angularfire etc.
Update everything to have only 1 version of firebase

[2016-08-14 20:23] Cyclodex opened #6 "Manual time entry as first element of the list should calculate several durations of its own and the next element"
If you add a manual time entry, which will be placed as first element in the list (like an early time entry at 6:00 or similar) will not calculate
- its own duration (since 00:00)
- the next entries duration is also missing

[2016-08-15 13:54] Cyclodex opened #7 "Add a favicon to get easy recognized"
We need to have a favicon so if the tab is pinned, one can better identify the cylone.
First iteration: Find something to put there.
We can later still make a own one / produce our self an icon.

[2016-08-15 13:55] Cyclodex commented on #7
@alesiom Would you help to create an icon? Any ideas ?

[2016-08-15 14:56] Cyclodex opened #8 "Copy time into clipboard"
Try an easy way for copy the time to clipboard, keep it easy and simple as here :
- https://css-tricks.com/force-selection-text-block/#article-header-id-8

We support what it will support, no crazy fallbacks will be implemented.

Also look into the selection, if we can improve this.
- https://css-tricks.com/force-selection-text-block/#article-header-id-0

[2016-08-15 14:58] Cyclodex commented on #8
I think @pfiaux would love this feature ;)

[2016-08-15 20:29] #4 closed, assigned to Cyclodex

[2016-08-15 21:27] #3 closed, assigned to Cyclodex

[2016-08-15 21:29] Cyclodex commented on #3
I don't expect that the break summary is important, mostly this will anyway be counted one 1 single project name. This way we only need to know the worked hours. Should be enough for the moment.

[2016-08-17 06:54] davidsandoz opened #9 "Don't count private time in total time"
I would be interested in having my total work time of the day (to know if I worked enough or not).

Currently, the total time also counts the private time. Could we consider removing the private time from the total time? Or there could also be a _Total work time_ in addition to the total time.

[2016-08-17 08:16] Cyclodex commented on #9
True,  or should we rethink the 'break' Projekt Name feature? Perhaps we should only not count  the private time instand of the breaks.

Anyway still unclear about the private/work switch...
Would it make more sense to say break/work.

Or do we want to count private + work Hours separately and in addition having breaks for both of them... Hmmm.
Any Inputs @pfiaux

[2016-08-17 14:07] pfiaux commented on #9
"break" seems to be more of a special key word for project which allows to auto select private.

However since you have the option to set anything to private manually, I think it makes sense to filter by private and non private time for the total work.

I was looking at the code i'm not sure what `obj["break"] = true;` is for since we already have the type. You could easily only add the entires on

[2016-08-17 14:09] pfiaux commented on #1
Looking at the current setup you could easily set something like:

[code]

However it's probably not the best idea to keep everything in the scope and 1 giant controller in the long term but that's a different topic.

[2016-08-17 14:18] pfiaux commented on #6
I think that's because there's an implicit start of the day but it's hidden:

[code]

Works but what if you reload the page? The other issue is that this value is never shown and you can't change it so it can be confusing the first time you use the tool (changing it would also mean updating the first entry).

One solution would be a `startOfDay` variable (which you would use for the first entry) a

[2016-08-17 14:26] Cyclodex commented on #9
True, I will change this.
The feature was introduced very quickly and late. Thought I did not think very far ;)

Thanks for the feedback! Will be changed soon.

[2016-08-17 21:58] Cyclodex commented on #9
I made a straight forward suggestion how we could display it.
Deployed it so you can already test it live!

![screen shot 2016-08-17 at 23 46 41](https://cloud.githubusercontent.com/assets/840929/17754681/fc5c4fee-64d5-11e6-98df-915c8673d3dc.png)

[2016-08-17 22:21] #1 closed, assigned to Cyclodex

[2016-08-18 07:29] Cyclodex opened #10 "Deleting an entry should update the next entries duration"
# Issue

When you delete an entry, it will not recalculate the next entry.
# Why do we want to recalculate?

The goal of the tool is to have no "holes" where no entry is made, so we need to keep this in sync.
As the entries are focused on "the end timestamp of a task" this should be no problem.
# What do we need to do?

We need to update the next entries start-timestamp to the previous end-timesta

[2016-08-18 07:30] Cyclodex commented on #10
@davidsandoz @pfiaux
I think this is a bug you should know about, be careful with **deleting** entries.
I hope you all agree, otherwise lets discuss it further.

[2016-08-18 20:25] #7 closed, assigned to Cyclodex

[2016-08-18 20:35] Cyclodex commented on #9
I mark this as solved, if you have some other feedback , lets create new tickets. Thanks and have fun using it!

[2016-08-18 20:35] #9 closed, assigned to Cyclodex

[2016-08-18 22:49] Cyclodex opened #11 "Fix rounding issues when displaying hours/minutes"
It happens that an entry from 6:00 to 9:00 will show up as 2:59 instead of 3:00.
This is because of the milliseconds we (+js) uses. Therefore a rounding / floating issue.

[2016-08-18 22:54] #10 closed, assigned to Cyclodex

[2016-08-18 22:54] #11 closed, assigned to Cyclodex

[2016-08-19 05:12] alesiom commented on #7
Oh you're too quick :P I had an idea for an icon, but didn't find the time yet to do it. I'll still propose it on this issue in case :)

[2016-08-19 06:55] Cyclodex commented on #6
Oops, I think the first entry is now not using its own duration, I probably overwrite it because of "if it is the first entry".
This means, the first entry of your day, will not have the start and duration when your application booted in the morning.

Will have to fix this!

[2016-08-19 07:47] davidsandoz commented on #6
Yep, I just realized that as well!

[2016-08-19 07:50] davidsandoz opened #12 "Change "Manual time" to "Manual end time""
I find the "Manual time" string used as label in the current timer form a bit confusing.

At first it feels like we should enter a duration to track additional time.

What about renaming it to "Manual end time"? I think it would be clearer.

[2016-08-19 08:39] Cyclodex commented on #6
As a workaround to fix the first "duration", please add a manual time entry:
Take the time you **checked in** , or whatever you think you started working.

It will then update your duration of the first (now second) entry.

If a **manual entry** is the first, it will always be **0min duration** as of now. (we could also take the time since 00:00, but I don't think this would be useful.

[2016-08-19 08:44] Cyclodex commented on #12
Of course. Thanks for this suggestion.

[2016-08-21 22:21] #6 closed, assigned to Cyclodex

[2016-08-21 22:35] #12 closed, assigned to Cyclodex

[2016-08-21 22:45] Cyclodex commented on #12
Note: It will also update the text "What have you done" to reflect better, that it has nothing to do with the current last minutes of work:

![screen shot 2016-08-22 at 00 36 09](https://cloud.githubusercontent.com/assets/840929/17840231/7efd6a50-6800-11e6-8ddb-f66dcbe04157.png)

[2016-08-23 08:37] Cyclodex opened #13 "Users with a dot in the email address should also work"
Currently there is an issue, if the username has a dot in the email address (_prename.surname@somewhere.com_) the application fails to create the base structure.

I guess its not allowed to have dots in the firebase structure.
Make sure the path for the DB is clean and allows every kind of username.

[2016-08-23 08:38] Cyclodex commented on #2
I started working on this, it looks like we need to further optimize the DB structure a bit.

Especially because of the year and the fact that every entry is still saved in a milliseconds key. (standard by firebase). To work correctly we probably have to change this to our current timestamp, otherwise entries in the past don't work correctly (ordering).

[2016-08-24 21:16] #2 closed, assigned to Cyclodex

[2016-08-24 21:26] Cyclodex opened #15 "Implement day entries & project sum represented as time bar"
We came up with the idea of having a time bar.
Lets define something and implement it.

In a separate branch we can also start testing some cases or implementations.

Something like d3.js will probably make sense. (@pfiaux mentioned this)
- https://d3js.org/
- https://github.com/flrs/visavail

[2016-08-24 21:33] davidsandoz commented on #15
You're gonna have to show me how to setup the project locally, notably regarding the database connection. You can also document that in the README, or you can activate the Wiki of the repository and start documenting there :-)

Regarding implementation of this feature, I would rather start simply with CSS animations. I think that for what we want that should be enough. What do you think @Cyclodex?

[2016-08-24 21:53] Cyclodex commented on #15
# time bar

True we could start simply with some divs and CSS Styling

# How to open the project

Right now it should be still super easy.
1. Git clone it, or download it.
2. If you have PHPStorm you can simply open the `index.html` file from there, it will load the external files correctly from remote.
   - Alternatively you can open `index.html` from a webserver (I guess it should work with mamp

[2016-08-31 23:55] Cyclodex commented on #15
![screen shot 2016-09-01 at 01 55 17](https://cloud.githubusercontent.com/assets/840929/18150472/35aa0f72-6fe7-11e6-8e39-cf4fc0626207.png)

[2016-09-01 04:15] alesiom commented on #15
Wtf at 2 am?? O_o
On Thu, 1 Sep 2016 at 01:55, Fabian Gander notifications@github.com wrote:

[2016-09-06 09:55] pfiaux opened #16 "Move the config into a separate file"
Currently the config is in the index.html since it has the firebase keys, would it be better to move it to a separate file and keep the keys out of the git repo?

For example: `public/config/config.js`

Then adding `public/config/config.js` to the git ignore file so it's not committed and creating a `config.example.js` with sample values that can be committed.

The config can be loaded via a scrip

[2016-09-06 22:31] Cyclodex commented on #15
I will have to test at least 1 day before I push this to the live-cyclone hosting. Don't want to break the tool for others.

Everyone can test this running the webpack/BrowserSync build with `npm start` on your local workstation (with latest commit)

![screen shot 2016-09-07 at 00 17 52](https://cloud.githubusercontent.com/assets/840929/18293274/12d25914-7492-11e6-970b-0820622cb45b.png)

[2016-09-08 20:47] #15 closed, assigned to Cyclodex

[2016-09-10 17:00] pfiaux opened #18 "Setup raw-loader loader and refactor ConnectionCtrl into a component"
I'd like to setup [raw-loader](https://github.com/webpack/raw-loader) for html templates in the web pack build which would allow moving some of the html to separate template files to break it up.

To use templates we need either directives, routes or components, since components is the most angular 2 friendly way I think converting one of the current controller into a component, the [official angu

[2016-09-10 17:02] pfiaux commented on #18
This would allow us to start splitting up index.html into multiple files.
@Cyclodex is it OK if try this on a branch?

[2016-09-10 17:29] Cyclodex commented on #18
Yes of course. Sounds good! I started to update the libraries already, but still having some issues with angularfire and the authentication on firebase. I will also do this in a branch. Just go ahead.

[2016-09-10 17:31] Cyclodex commented on #5
@pfiaux I am working on this, but still having troubles to get the authentication state into the connection Controller. Will continue and create a branch tomorrow/later.

[2016-09-11 09:32] pfiaux commented on #5
You can probably create a service, say `cycloneBackendService` or `cycloneAuthService` there you can
- Have a get authentication state method
- Store the state when connected so you can reuse it
- You can then inject the `cycloneBackendService` to any controller and access the data anywhere.
  - The goal would be that controllers don't use firebase at all, they only know about the services.

This

[2016-09-11 17:12] Cyclodex commented on #5
Thanks!
I will commit this soon. Its great to improve the code now step by step, thanks for your help and hints and reviews! 👍 🎉

# Auth service

I am looking at angularfire examples directly to see how this should be done.
- https://github.com/firebase/angularfire/blob/master/docs/guide/user-auth.md#retrieving-authentication-state

# How to load all the libraries

I am thinking of the libraries a

[2016-09-11 18:48] Cyclodex commented on #5
@pfiaux I looked into it and see an example which uses then the $scope to use the authentication, but I think we don't need this, at least not yet. It should be fine to use directly the "Auth" variable right?

The example showed:

[code]

I think this should be enough, if we are not using it multiple times within a controller.

[code]

PS: I know we have to change a lot more here... Lets go step b

[2016-09-12 13:38] pfiaux commented on #5
I quickly looked at where you use Auth in the code, note that `$onAuthStateChanged` can be called multiple times, so the function you put inside it will be called everytime the AuthState changes.

But yes it's better to use Auth, you want to avoid using $scope as much as possible.

If you only need it once you have to store the unsubscribe function and call it: https://github.com/firebase/angularf

[2016-09-12 19:28] Cyclodex commented on #5
Okey, lets go further in a separate step. I also think this probably has to deal more with route etc. which we also can improve at some point.
I am closing the migration to Firebase 3.x as I tested today the whole day and it seems to work.

[2016-09-12 19:42] Cyclodex commented on #5
This is fixed and merged into master in #19

[2016-09-12 19:42] #5 closed, assigned to Cyclodex, pfiaux

[2016-09-12 20:53] Cyclodex opened #20 "Firebase rules: Refine the db rules so users really can only read and write data in their own path"
Refining the db rules, so users are really only read and write their own data.
The code would not allow yet to read write data anyways. However this is even more secure.
https://github.com/firebase/angularfire/blob/master/docs/guide/user-auth.md#user-based-security

[2016-09-12 20:56] Cyclodex opened #21 "Change db path to support any year"
Right now the read/write path of the entries is limited by the current week number.
This would lead to an issue next year, so simply add the year in front of the week number.
The hierarchy should be still fine and enough flat for firebase because the way we use it in this software.

[2016-09-13 08:52] Cyclodex opened #22 "If the list is empty, add a "start of the day" task"
Times when the tool has troubles with the start of the day:
- [x] It does not support reloading the page if you don't have an entry yet.
- [x] If you place a manual entry with a custom time, it will not know the duration and you loose your current timer

Lets solve these issues with a manual entry, however make sure:
- [x] A automatic entry is added, if a user loads the page without any entry yet.

[2016-09-13 08:58] Cyclodex opened #23 "Add a more "continue" like feature"
Some users report the issue that they do a lot of "continue" tracking.
This right now is a bit cumbersome because you need to calculate all the entries which belong together manually.
- [x] Create a new view/component
- [ ] The view should display only open tasks -> We will create a separate filter task for that
- [x] The view groups entries per project
- [x] The view further groups tasks which do

[2016-09-13 19:39] #21 closed, assigned to Cyclodex

[2016-09-13 19:40] #20 closed, assigned to Cyclodex

[2016-09-13 19:42] Cyclodex commented on #13
Tested, this works now.

[2016-09-13 19:42] #13 closed, assigned to Cyclodex

[2016-09-13 20:10] Cyclodex commented on #16
@pfiaux please review my commit, and make sure you have the config file in your localhost setup. Thanks

[2016-09-27 07:06] pfiaux commented on #16
Looks good, now you can for example even have a dev config locally and use a different database to not mess up the production data.

I have a copy of the current config for now. The last step is to remove the config from the repository, the file is ignored but it looks like you added it to get before you ignored it.

[2016-09-27 09:49] pfiaux commented on #18
This didn't work like I thought, but it still turned out good:
- I created 2 components and was able to remove the connectionCtrl
- I was not able to add the pullRequest here so it's in #26

There's some example components now so it should be easy to create more for new features or refactor older features. Closing this as resolved, see #26.

[2016-09-27 09:49] #18 closed, assigned to pfiaux

[2016-09-27 17:32] Cyclodex opened #27 ""Starting the day"-entry should not appear twice"
In some strange situations, the "starting the day" entry is added twice.

I found out one repro path :
- when logging in, and no entry is added yet, it will create 2 entries.

However I also have seen some other strange appearances, but unsure how to reproduce.

[2016-09-27 17:32] Cyclodex commented on #23
Closing as implemented

[2016-09-27 17:32] #23 closed, assigned to Cyclodex, davidsandoz

[2016-09-27 17:33] Cyclodex commented on #22
Implemented, however has follow up issues: #27

[2016-09-27 17:33] #22 closed, assigned to Cyclodex

[2016-10-17 12:37] Cyclodex opened #28 "FF throws errors when using the word "watch" as project or description"
FF fails when we add "watch" as project title or description, looks like kind of a reserved word?
Verify why this is happening, fix it.

[2016-10-17 22:21] Cyclodex commented on #28
Did not found any JS related reserved word or similar about "watch" but it seems to be something Gecko related:
- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/watch

[2016-10-17 22:32] Cyclodex commented on #28
Fixed and deployed.

[2016-10-17 22:32] #28 closed, assigned to Cyclodex

[2016-10-21 06:48] #16 closed, assigned to Cyclodex

[2016-10-22 11:54] pfiaux commented on #8
The last time I looked at this (1-2 years ago) https://github.com/zeroclipboard/ZeroClipboard was a good way to access the clipboard. I think even github used zeroclipboard (at least it did at some point).

Today it looks like you can do it without flash using: https://github.com/zenorocha/clipboard.js/ but I'm not sure how good it works.

[2016-10-25 21:16] Cyclodex commented on #8
Sounds good, we can give this a try. Do you want to start loading the library.
When its loadable, I can then check where to use and implement it (on the time-output actually)

Feel free to go ahead in a branch, thanks.

[2016-10-25 21:17] Cyclodex commented on #27
This looks like it solved the problem.

[2016-10-25 21:17] #27 closed, assigned to Cyclodex

[2016-10-26 06:08] Cyclodex commented on #16
You closed it, does it mean its okey ? I did not do anything else with the config yet.

[2016-10-27 23:07] Cyclodex commented on #8
@pfiaux : See my last commit , I started working on it.

[2016-10-29 19:52] pfiaux commented on #16
Sorry yes it's OK

[2017-01-08 20:28] Cyclodex opened #29 "Improve / separate the stats into 2 components / 1 service"
As @pfiaux wrote in #26 :

[2017-01-08 20:29] Cyclodex opened #30 "Improve overall architecture to be more component driven (ultimateangular)"
As @pfiaux wrote in #26 :

[2017-01-08 22:13] #8 closed, assigned to Cyclodex, pfiaux

[2017-01-08 22:21] Cyclodex opened #32 "Load all libraries with npm / webpack instead of cdn's"
We probably should change the loading of all the angular and other modules over the network (cdn's) to get loaded per npm and webpack.

Should we load it with bower ? I guess not, not to add an other layer of complexity...
@pfiaux Do you also think, npm / webpack is enough for loading all the libraries?

[2017-01-09 08:44] davidsandoz opened #33 "Add a link to issues list"
To facilitate feedback, it would be great to have a *Feedback / Report issue* button, for instance in the footer, that brings directly to https://github.com/cyclodex/cyclone/issues

[2017-01-09 08:46] davidsandoz opened #34 "Make that copying time also marks as complete"
When we copy time, it means that we're done with the task. So we now click twice, once to copy the time and once to mark the task as done. What about making that when we copy the time, the task is automatically marked as done?

[2017-01-09 09:38] Cyclodex commented on #33
Okey good point. But is the github link not already enough?
Just in case you don't know, the **version number** is linked to the **changelog** on github.

If you still think it would be worth a feedback link, I will think about it :)

[2017-01-09 09:42] Cyclodex commented on #34
Hmm good point, what do you think about this @Mayeu ? Also fine for you?

[2017-01-09 10:53] davidsandoz commented on #33
Ha, I actually didn't realize that there was a link. Then I suppose I might not be the only one ;-)

Also having a link with the text *Feedback / Report issue* is more inviting to do so.

But of course that's not a priority issue, just something nice to have.

[2017-01-09 10:57] davidsandoz opened #35 "Enable copying time for aggregated time slots"
There's currently no button to copy the time of aggregated time slots. That would clearly be useful.

P.S. : So yes @Cyclodex, I'm using this copy to clipboard feature ^^

[2017-01-09 12:54] #34 closed, assigned to Cyclodex

[2017-01-09 12:56] Cyclodex commented on #35
As written in my last commit, here the question we have to discuss / define:

[2017-01-09 13:37] davidsandoz commented on #35
Hmm, I think this issue should be closed and the discussion should happen in #34, which shouldn't have been closed. Am I right @Cyclodex?

[2017-01-09 13:40] davidsandoz commented on #35
Ah no, sorry! I didn't realize #34 was actually implemented. Nice! ^^

[2017-01-09 13:54] Cyclodex commented on #35
Yes it is ;) The discussion actually is a mix between these two requests yes. :) lets do it here because it is about the aggregate time.

[2017-01-09 16:50] Mayeu commented on #34
By done you mean the checkbox on the left of the task? Because I don't really use this one as a done indicator, but as a "the time has been tracked somewhere" indicator ^^

[2017-01-09 16:51] Mayeu commented on #34
In case you got my last comment, forget it, I misunderstood the issue scope :)

[2017-01-09 21:17] #33 closed, assigned to Cyclodex

[2017-01-10 15:24] Cyclodex opened #36 "Clicking the copy time button will not save the entry as marked, only visually works"
The click on the "continued" tasks time works.
The single task time copy button, will only mark the entry as done, refreshing the page will show you that the entry change was not saved into the db.

Fix this issue :)

[2017-01-10 17:39] davidsandoz commented on #36
Aaaaah, I thought I was crazy remembering marking an entry and finding out later it was not. Good to know I'm sane ^^

[2017-01-10 21:16] #36 closed, assigned to Cyclodex

[2017-01-11 13:32] Cyclodex opened #37 "Simplify the copy time and move action on the "Task-checkbox""
@davidsandoz suggested to make a hint per Toast so new people would get that the time was copied.
-> https://material.angularjs.org/latest/demo/toast

[2017-01-14 13:28] pfiaux commented on #32
If you use webpack then npm should be good to load the libraries from. If you can't find them on NPM you could use bower or use a github link as an npm module too.

Once you install it with npm you can simply require them where you use them or in cyclone.js

[2017-01-15 20:44] Cyclodex commented on #32
@pfiaux The package.json changes are in the commit before.

- https://github.com/Cyclodex/cyclone/commit/3490abbfc33ec3cd2644690d3036d4efefc20fb2

Its all in the branch:

- https://github.com/Cyclodex/cyclone/commits/libraries-loading

[2017-01-26 08:58] pfiaux opened #38 "Setup a production webpack config"
This is related to #32, when loading the libraries from NPM they'll need to be minified, at least in production.

There's a few things that would improve the dist size of the app:
* Disable sourcemaps or store them outside of the main build file
* Add a minifiying plugin uglify or something else

These 2 should help a lot, if it's generating a sourcemap for all of angular and including it inline

[2017-01-28 19:16] Cyclodex commented on #38
**Production Configuration Update #2: Node Environment**
I also checked if the production variable would make it different, but the generated size is still the same. So not committing these changes. But for react it would make a difference.

[code]

[2017-01-28 22:44] Cyclodex commented on #38
When building it works, when I build with the `-p` function to the angular throws an error:
`(index):47959 Uncaught Error: [$injector:modulerr] Failed to instantiate module cycloneApp due to:
Error: [$injector:unpr] Unknown provider: e`
- https://docs.angularjs.org/error/$injector/unpr?p0=e

Any idea? I think it could be something we have missing, perhaps something with the requires? Hmm.

[2017-01-28 23:48] Cyclodex commented on #38
Good page with webpack and angular guidance:

- https://github.com/dmachat/angular-webpack-cookbook/wiki

[2017-01-29 08:46] pfiaux commented on #38
I'm not sure if you need the NODE ENV var, to set it you'd need to prefix the build command with `NODE_ENV=production weback.....`

The unknown provider could come from missing annotation when minified, like if you have `service('blahService`, ['$q', function ($q) {...}]` that works but if you have just service('blahService`,  function ($q) {...}` and $q gets renamed to e because of uglify then it

[2017-01-29 20:42] Cyclodex commented on #38
Okey I think I got these things done.
**NODE_ENV:**
I prefer to have this within the plugin, instead on build command. I think it doesn't matter which way one would do it.

**ng-annotate**
Add this and it fixed the issue, so yes it seems that somewhere is something missing. I will check if I see where the long form is missing.

**mangle**
Yes I already looked into the mangle, and disabled it befor

[2017-01-30 10:53] Cyclodex commented on #35
Closing this, if there is an issue with current implementation, open new task.

[2017-01-30 10:53] #35 closed, assigned to Cyclodex, davidsandoz

[2017-01-30 10:54] Cyclodex commented on #32
This one was just released and is getting tested right now :)
Closing already for now.

We still need to check the authentication which is completely separate for now.

[2017-01-30 10:54] #32 closed, assigned to Cyclodex, pfiaux

[2017-01-30 10:56] Cyclodex commented on #37
I quickly tested this yesterday, and it did not yet work. I have to check what I need to change to get the time entry copied using the checkbox.

For now it should be fine to click the time, and the task is marked done :)

[2017-01-30 10:58] Cyclodex commented on #38
This one is released and getting tested now. Closing down. Thanks for the help.

[2017-01-30 10:58] #38 closed, assigned to Cyclodex, pfiaux

[2017-02-03 07:53] Cyclodex opened #41 "Fix broken authentication"
The authentication page is broken and I hope nobody is going to logout until this is fixed:

Because of latest webpack changes on the index file the authentication is not working anymore.

[2017-02-11 13:54] Cyclodex commented on #32
Authentication is now also on webpack code.

[2017-02-12 22:45] #41 closed, assigned to Cyclodex

[2017-04-07 20:52] Cyclodex commented on #37
This is fixed and implement since release 0.45

[2017-04-07 20:52] #37 closed, assigned to Cyclodex, davidsandoz

[2017-04-07 20:54] Cyclodex opened #45 "Implement new interface for improved grouping / timeline handling"
@davidsandoz & @alesiom made some proposals how an improved layout could look like

[2017-04-09 12:52] davidsandoz commented on #45
Here's a mock-up 🙂
I didn't remade the whole footer because nothing changes there.

Maybe we can first make some design iterations before going into development. Let see what two developers can come up with 😅

![cyclone - tasks view](https://cloud.githubusercontent.com/assets/1535702/24837418/d5b06080-1d33-11e7-9bb6-e7b5f40268ee.png)

Let me know what you think @Cyclodex

[2017-04-10 10:04] davidsandoz opened #46 "Place Group between Project and Description"
With the new latest version including Groups, you have to re-learn using Cyclone, even if you don't use groups.

Let me explain: Before, the grouping was done over the description, now it's done over the group.

So, if I don't want to group my time slots as I was doing before, I have to enter a Project and a Group name.

Semantically, it makes sense to group by Group, but the order of the text inp

[2017-04-10 15:24] Cyclodex commented on #46
Correcting: It was only possible to make groups with **Project + Description** ! (still possible)
The new group allows to have any kind of grouping with its own name!

If you don't want to group things, you use **Project + Description**
* If you enter 2 times a project and description the same way, it will make a group still -> kind of backwards compatibility to the once used to the grouping syste

[2017-04-10 15:36] Cyclodex commented on #45
If I understand this view correctly, its a "Task" approach and has nothing todo with "Today" or a timeline.

So it would still show the entries from yesterday etc, correct? Its more like the "time"-tool from NI. But more advanced :)

It will make an impact on how we save the entries, because the current "Timeline" is focusing on 1 day, which here we would implement differently in firebase.
After s

[2017-04-11 15:12] Cyclodex opened #47 "Improve routing system to be more flexible"
The routing system is not yet fully featured with latest possibilities.
Because the component routing in angular js 1.x seems to be deprecated I will probably go to the defacto standard and use ui-router.

[2017-04-12 17:00] davidsandoz commented on #46
Sorry, I misunderstood how the new grouping was working. I didn't notice the previous way to group was still working. My bad!

[2017-04-12 17:00] #46 closed, assigned to Cyclodex

[2017-04-12 17:07] davidsandoz commented on #45
I realize I forgot to put the date on the right of the top bar. That might have confused your interpretation.
So, no, the Task view would still be related to today and we could switch betweens days the same way we currently do. No way to group tasks between different days. I don't think that's something we need. The good practice is to always track your time the same day, so let's not make it easi

[2017-04-16 18:48] Cyclodex commented on #45
True, it might be common for some people, but I am fine if we don't have to support this.
@davidsandoz : Can we share the source file still somewhere, would be cool to see how you made this mockup.

[2017-04-16 20:49] davidsandoz commented on #45
Here it is: [Cyclone.xd.zip](https://github.com/Cyclodex/cyclone/files/1078533/Cyclone.xd.zip)

I made it with [Adobe XD](http://www.adobe.com/products/experience-design.html) 😊

[2017-04-20 11:01] renestalder opened #48 "Allow standard input text field mouse interactions"
The default mouse interactions on the form fields are suppressed at the moment.

Example:

- Can't select text with the mouse cursor
- Can't select all text inside a form field with a double click

[2017-04-21 15:50] Cyclodex commented on #48
I can not reproduce this, are you using some special plugins?

For me it works like on every other form:
 * Single click: put pointer there
 * Double click: Mark the word
 * Trible click: Mark the whole field

I tested this now on FF, Chrome and Safari without issues.

[2017-04-25 19:47] renestalder commented on #48
Okay, I'm sorry. Further tested this in the mentioned browser. Seems like a very specific case to Vivaldi, when running a website inside a sidebar tab.

[2017-04-25 19:47] #48 closed, assigned to Cyclodex

[2017-05-11 12:07] davidsandoz opened #49 "Unchecking a group doesn't work"
If you have several time slots grouped together and marked as complete, then the checkbox in the group "card" doesn't work to uncheck the whole group.

@Cyclodex: If it's not clear or you cannot reproduce, come to me so that I show you.

[2017-05-14 21:43] Cyclodex commented on #49
Seems to be related to FF only. Works in chrome.

[2017-05-14 21:48] #49 closed, assigned to Cyclodex

[2017-05-14 21:52] Cyclodex commented on #49
Fixed issue in v.0.48 should work fine now.

[2017-06-09 06:28] Cyclodex commented on #45
Here a screenshot of the current progress:

![cyclone - task overview](https://user-images.githubusercontent.com/840929/26963564-7e7b02ea-4ced-11e7-881d-2f6ebfc181d2.png)

[2017-06-09 06:31] Cyclodex commented on #45
Further impacts to define / refine:

- [x] Refine BREAK block, this one is special and don't really need a "checkbox" or be presented very prominent

- [x] Split up tasks between **Open** and **Done**

- [x] Discuss **Delete** feature -> really needed ? Its a complex change behind and not easy to undesrstand for users

... more comming.

[2017-06-09 11:24] Cyclodex opened #50 "Autocomplete projectnames"
The projects are mostly the same, and so retyping is cumbersome.

**Handling data internally**

- [x] **Idea 1:**
  - [x] Save projects by user into db #62 (includes **type**)
  - [x] Make project fields autocomplete using the saved projects
  - [x] Apply the project **type** when autocompleted

**Idea 2:** NOPE
* Having a global team wide projects list, with all the projects handled.
* Make proje

[2017-06-10 17:02] alesiom commented on #45
Working on this.

Prototype of a long term vision (keeping the same colors/overall feel).
https://invis.io/DMC3QSQKA#/238262628_Start

I'll create new tasks for each smaller feature, proposing a short term solution with the current Cyclone and a long term solution with the vision attached above.

[2017-06-10 17:03] alesiom commented on #45
First tried with XD, but I'm too slow and still very limited. Switched to Sketch
[proposal_lex_001.sketch.zip](https://github.com/Cyclodex/cyclone/files/1065957/proposal_lex_001.sketch.zip)

[2017-06-11 01:56] Cyclodex commented on #45
I finally have a staging, where you guys can test on a completely separate instance.
 * Code of my latest efforts of the grouping feature
 * DB / Data is completely separate! So we don't break live Data!
 * This also means that you need to register or link google account again

Have fun! And thanks for your contributions already.
 * https://cyclone-staging.firebaseapp.com

[2017-06-14 15:48] Cyclodex commented on #45
For a simpler preview of how this might look, proposed by @alesiom in a first version:

Would be nice if some more people review, give feedback or suggestions.

![screen shot 2017-06-14 at 17 47 12](https://user-images.githubusercontent.com/840929/27141850-9c8b03ee-5129-11e7-8271-0cad13ae1eb2.png)

[2017-06-14 18:36] davidsandoz commented on #45
Awesome @alesiom!

* The split feature is interesting, I already see situations where I would be using it.
* The "Switch to internal/external" icon is also nice. Although, It'd be nice that we can still change to any category. For instance, sometimes I switch some time slot to trust time. But if this can be done in the Timeline view, that's enough for me.

Aside from that I don't have much more sa

[2017-06-15 08:29] alesiom commented on #45
@davidsandoz thx for the feedback.
 * Good point about the switch. Currently I had in mind that we could use the drag and drop on the subtasks. My wish was to have anyway Break and Trust time in the "ongoing" at any time, even if nothing was tracked in there yet (see screenshot above). But your point raises the fact both features overlap a bit, so might not be optimal yet.

@Cyclodex & @davidsando

[2017-06-15 08:40] alesiom commented on #45
@davidsandoz
 I actually have another question concerning your remark about switching. Would you switch a complete task (e.g. Kime - Ticket 375) or rather a sub task (e.g. Kime - Ticket 375 - html update). In the latter case, I believe the drag/drop solution would actually solve your problem whereas the "switcher" wouldn't. In the former case, the "switcher" would solve it better (much quicker).

[2017-06-15 12:53] Cyclodex commented on #45
I think we need some kind of time line because its a simple representation of a day.
I am thinking about how we could simplify and change it, for me right now it looks like these options are around:
Also every entry of this cyclone-system needs to be editable for worst case.

These are the options I came up with until now:
1. The view is simplified and redesigned to match design as suggested above

[2017-06-15 18:07] davidsandoz commented on #45
I actually realize now that _Break_ and _Trust time_ don't have a _What_ or a _Task / Issue_ anymore, but just have _subtasks_. I suppose they cannot be marked as done neither. I think this makes completely sense. However, I'm just wondering how do I say if my current running timer is a break or trust time?
The fact that we can drag and drop _subtasks_ solves my issue indeed.

This new system is q

[2017-06-16 05:55] alesiom commented on #45
Wrong, this is the "task" view, and for such, there is absolutely no concept about what really happens behind. In that sense, you could merge any subtasks, even if you do the first part in the morning and a later part in the afternoon. Of course, on the timeline, those would still be separate (but would now have the same name), but on the task page, it would be merged into only one, making it much

[2017-06-16 06:07] Cyclodex commented on #45
@davidsandoz I also asked this already in the invision prototype, so yes this is only visual. _(Otherwise would mess up timeline)_
@alesiom I competely see what you mean, you would be not interested in seeing "Doing XY" several times, its enough to have it once, with the complete time of all entries together.
Maybe we should not ask "merge it?" to make it simpler, just group them together.

![togg

[2017-06-16 11:28] Cyclodex opened #51 "Investigate offline behaviour"
Glow reported that she has some strange behaviours when going to train, beeing offline and online later again.

 * It works, but some numbers might be 0
 * Sometimes she is getting asked to login again

Lets see if we can reproduce this and improve it.

I count it as an **enhancement** for now, because in first place cyclone is not meant to be used offline (but it kind of supports it with the fire

[2017-06-16 11:30] Cyclodex opened #52 "Make date recognition more stable"
Glow reported that sometimes the timeline shows up old entries and switches back again.

Not sure what this could be, but I might to improve stability with changing some logic of how to load the screens.

* Maybe instead of just let it work on the current day, switch to the days path and only rely on this.
* This should also cover the case that when cyclone is still open from yesterday, that it sh

[2017-06-19 17:01] davidsandoz commented on #52
FYI, when loading the page for the first time of the day, I sometimes also have data from the day before in the current timer (Firefox).

[2017-07-11 15:33] Cyclodex commented on #51
Tested here, with:

1. starting cyclone
1. tracking A
1. going offline
1. tracking B
1. going online on different network
1. tracking C
1. going back to previous WLAN
1. tracking D
1. Refreshing website

Result: All there. Not sure what the Problem described by Glow is exactly.
Of course one can not make a refresh when you are online, then you would loose of course your data...

[2017-08-24 08:20] davidsandoz opened #53 "Keep current timer data when switching view"
On the beta version in staging, with Firefox (didn't try other browser), if we have something entered in the current timer and switch view (between Time and Task), the data that was entered in the current timer is removed.

It would be expected that it stays.

[2017-08-24 10:44] davidsandoz opened #54 "A break should go directly into "Done""
Currently, if I track a break, it goes in the "Open" tasks.

As we don't track time for a break, there is no reason to keep them in Open.

It would therefore be expected to have the breaks go directly in the Done section when we track them.

[2017-08-24 16:03] Cyclodex commented on #54
Accept. What about trust time?

[2017-08-24 16:05] Cyclodex commented on #53
Know, but a feature i have to implement, thanks for ticket.

[2017-08-24 16:27] davidsandoz commented on #54
Same thing as it is not tracked.

[2017-08-28 07:09] davidsandoz opened #55 "Reduce task block animations"
Currently, any change made to a task block makes it animate out and in.

It would be expected to have the animation only when the block change section (Open, Done)

@Cyclodex You are probably already aware of that. I just create a ticket so that there is one 🙂

[2017-08-28 15:22] Cyclodex commented on #55
Yes, that's actuallly a Bastard one, because a change on the task is recalculating the entries and there for fires the animation on the ng-repeat.
I kind of like the Animation for the checke, create etc sattes, but yes this happening on renaming a Task/project is Bad.
I am unsure yet how i could solche this but I might be able to solve this later once... :/

[2017-08-28 19:37] davidsandoz commented on #55
Thanks for the clarification!

I think the priority should be given to usability over a nice UI.

If one want to edit the task name and then type of task, currently the usability is bad because one have to wait for the animation to happen in between.

IMHO in this case, if we have to choose only between animation for every change or no animation at all, we should go for no animation.

[2017-08-28 21:24] Cyclodex commented on #55
I have an idea how i could solve this issue, give me some time :)

[2017-08-30 10:53] Cyclodex commented on #54
What do you think, is the order of these elements?
I am unsure if they should be Alphabetically or related to some timestamp etc.

Can we define something? Best something which works for all the 3 lists:
 * Open
 * Done
 * Break / Trust

[2017-08-30 11:02] davidsandoz commented on #54
I would order based on the end time of the last time slot (from most recent to oldest)

[2017-08-30 22:05] #47 closed, assigned to nobody

[2017-08-30 22:06] Cyclodex commented on #54
Implemented, will test tomorrow and push to staging when ok.

[2017-08-30 22:06] #54 closed, assigned to Cyclodex

[2017-08-30 22:14] Cyclodex commented on #55
Improved, but still some random edge cases where it still happens.
But definitely improved, will deploy when test tomorrow is good enough.

[2017-08-30 22:15] Cyclodex commented on #52
Now it happens that it jumps back to the time-tab, no idea why.
It somehow loads again the url one visited once.
I will have to remove this part and change the logic a bit. Not sure why angular is doing this.

[2017-08-31 16:24] Cyclodex opened #56 "Feature: Split entry"
There was an idea about splitting up an entry.

**Scope**
Introduce this feature on the timeline.
Does not make sense tasks (groups) overview.

**Feature**
Splitting up / make a copy of an item will be easy, but we need to make sure that the time entry can be defined easily.
Additional features could be to add / remove relative time amounts (10min).

[2017-09-04 18:28] Cyclodex opened #57 "Fix the glitch with tasks getting out of sync when modifying one of the entries"
@davidsandoz Can you please open the **development tools** and check what the output in "console" tells you when you change an entry? (which was not changing your entry in task)

I tested here with chrome and FF and could strangely not reproduce your behaviour. Some plugins which interfere? :-/

[2017-09-05 06:50] davidsandoz commented on #57
No errors in the console.

When I updated the project and when I updated the type, the same message is logged in the console:

    Entry (update Group) entry saved with index-KtAwX7xko2wJaJgQT5M

I also tried in private mode so that I have no plugin enabled, but there the app doesn't load after login because it crashes as it is not allowed to load Google Analytics.

    The resource at “https://ww

[2017-09-07 17:40] Cyclodex commented on #53
Done and ready for beta testing. NOTE: **No** _"manual end time"_ support, as this has troubles all over the places. Should not be a big deal, as the time entry is not that often used.

Will create a new ticket for improving the time input overall.

[2017-09-07 17:40] #53 closed, assigned to Cyclodex

[2017-09-07 17:41] Cyclodex opened #58 "Introduce more stable "manual time" entry"
Maybe using something like this.
 * https://www.npmjs.com/package/angular-datetime-inputs

[2017-09-07 17:43] #55 closed, assigned to Cyclodex

[2017-09-07 20:22] Cyclodex commented on #57
I don't get this, I have no issues also not in private mode. Might need some investigations together.
There is now a new release also, but I don't think this will change anything for you.
Sorry - not being able to reproduce is making things harder :(

[2017-09-07 20:26] Cyclodex commented on #45
Is there still something critical missing to make this ticket as done for the moment?
We can still push feature into separate tickets, and check which ones are must haves and which ones are nice to have. Otherwise loosing focus for this release.

@davidsandoz would you help to identify still your missing features or functionality?
Please really think what is must have, and what are use specific wi

[2017-09-13 16:03] davidsandoz commented on #57
I couldn't reproduce myself. Let's close it then.

[2017-09-13 16:15] davidsandoz opened #59 "Add continue button"
Currently the two buttons available have the following behaviors
1. Use this current project & description for current timer
1. Track current timer into this group

I suggest to replace the first one with this behavior and a "play" icon
* Log current timer and continue with this task

### Reason for this change

We have two types of users:
1. The one who fill time slot details right before logging

[2017-09-13 16:27] davidsandoz opened #60 "Re-introduce time stats"
In versions <0.50 a task-type repartition chart was visible at the bottom of the page and hovering it would show a one-line timeline and the projects repartition.

I suggest to re-introduce those charts in the latest versions of Cyclone.

Personally, the one I miss the most is the task-type repartition. Therefore if one has to prioritize, I would bring back this one first.

### Improvement suggest

[2017-09-13 16:31] davidsandoz opened #61 "Automatically switch to the new day"
Currently, when we load the app on a new day, it is still on the day we last used it.

I suggest that if we load the app for the first time on a new day, it automatically switch to this new day (same behavior as in versions <=0.50).

[2017-09-13 16:32] davidsandoz commented on #45
Created #59 #60 and #61 🙂

[2017-09-15 06:46] davidsandoz opened #62 "Add a new tab "Projects""
That would be nice to have the possibility to set one own projects for auto-complete, but also to pre-define the matching type (internal/external).

This could be something to add to a new tab "Projects" on the side bar.

[2017-09-16 10:58] Cyclodex commented on #61
I tried this within #52 however the browsers are doing strange things when the tab is open for long time, or when you re-open the laptop etc. So its really not that easy as it sounds.

That was also why it was jumping to your "time" view over and over again.
I don't know yet how to solve this easily, please use the day-switcher for now when you start a new day. Or go to the welcome screen and clic

[2017-09-16 11:06] Cyclodex commented on #60
For later, maybe using something like this:
* https://www.highcharts.com/demo/pie-legend/grid-light
* https://www.highcharts.com/blog/tutorials/194-using-highcharts-with-angular-js/

[2017-09-17 00:56] Cyclodex commented on #62
Indeed, it would be a good starting point for having control over the projects.
I will use this to learn better how I should write components using ultimateangular course.

This is related to #50

[2017-09-17 18:40] Cyclodex commented on #59
I completely understand, and have seen that we need to make some features possible to get disabled/enabled. So the user can decide which feature to use and setup his own tooling.

I already have something in mind, similar to the projects where one will be able to control this on his profile. I will need some time but definitely on my plan. Thanks for ticket.

[2017-09-17 18:44] Cyclodex opened #63 "Cleanup Task component and create according service"

[2017-09-17 18:44] Cyclodex opened #64 "Cleanup Timeline component and create according service"

[2017-09-17 18:47] Cyclodex opened #65 "Define feature "TODO" (Tasks in the future)"
# Idea
At some point I want to introduce TODO's where one can enter tasks to do.

More advanced could be setting a due date, or use the TODO's with time tracking.

[2017-09-17 18:54] Cyclodex opened #66 "Define feature "Knowhow" section"
# Idea

I will define something like a **knowhow** database.
It will act and help one in regards of:
 * Links / Bookmarks (VS bookmark mess in browsers)
 * Hints / Notes (VS note tools, nvalt, evernote etc.)
 * Code snippets (like gists, nvalt)

This together with tags / categories, should make them quick searchable useful feature.

In addition, they could be "private" or "public" to share them or

[2017-09-17 18:57] Cyclodex opened #67 "Define feature "Calendar""
# Idea
Visually we could show a calendar with all the entries one has.

Maybe something calendar like: https://github.com/angular-ui/ui-calendar

[2017-09-17 18:59] Cyclodex opened #68 "Make the add-time component a more separate component, and re-use it correctly"

[2017-09-17 19:11] Cyclodex commented on #45
I am finally closing this issue, we are testing the new interface and requests should come in as issues / tickets. Thanks.

[2017-09-17 19:11] #45 closed, assigned to Cyclodex, davidsandoz, alesiom

[2017-09-18 16:23] davidsandoz commented on #65
Wouldn't it be best to keep Cyclone scoped to time tracking?

There are already tons of todo apps out there and they're doing their job pretty well.

If you really want to do it and as long as it doesn't interfere with the time tracking part, I don't have a problem with that 🙂

But I know for sure that I personally wouldn't use this feature.

Maybe that @alesiom @Mayeu or @renestalder would also h

[2017-09-18 16:27] davidsandoz commented on #67
This would be quite handy if one's interested in his past time-tracking.

Could be nice to have it combined with stats aggregated by week/month/quarter/year.

[2017-09-18 16:31] davidsandoz commented on #66
Same opinion as in #65. I think it'd be better to keep Cyclone focused on time-tracking.

But you decide 😉

[2017-09-20 11:34] Cyclodex commented on #57
I found the glitch on the V0.54 (new interface) where it can happen that a task with multiple entries gets - desynchronized.

The issue is that the "group" entry is not getting changed.
Need to investigate in detail, when this happens.

[2017-09-20 11:35] Cyclodex commented on #57
It could be that the issues happens if you modify the first entry of a group. It will maybe stay in the group because the "group" identification will not change. I will need to improve the group ID further for that case.

[2017-09-20 11:38] Cyclodex commented on #65
Sure, no the goal would be definitely that it doesn't interfere with the "Timetracking" parts if one doesn't use it.

I completely understand your point, but also the same would go with "timetracking", so cyclone is not needed in fact :) I just try to make something which helps me better to manage my work days - not using 5 different tools, as I do now :) Thanks for the feedback so far!

[2017-09-23 14:03] Cyclodex commented on #65
I quickly described the situation to @davidsandoz , but would like to address it also to @Mayeu (who came up with feedback internally), but also @alesiom, @renestalder etc.:
I will try to make an official (github)document to show up more what I am thinking of what "Cyclone" is for me, here a first try:

Further features will and should not break into others, they will only extend one or each other

[2017-09-23 14:15] Cyclodex commented on #66
Thanks for your concerns, really ❤️ your contributions no matter if they would be 👍  or 👎 .
To clarify : This would be complete separate from the time tracking, if one doesn't want to use it, no need to. I guess I would even hide it from the navigation, if you don't want to use it.
So, it will not impact your time tracking experience.

[2017-09-25 22:11] Cyclodex commented on #62
Coming soon but slightly different.
Instead of a "projects" tab, it will be part of the profile page.
Will be released when the autocomplete feature is also complete #50

[2017-09-25 22:11] #62 closed, assigned to Cyclodex

[2017-09-25 22:14] Cyclodex commented on #59
The continue button is back soon, at least when you really want it. The buttons are now features, which every user can enable/disable himself.
Will come out soon with the next release, trying to finish first the autocomplete, to have a full featured release :)

[2017-09-25 22:14] #59 closed, assigned to Cyclodex

[2017-10-08 21:07] Cyclodex commented on #57
Should be solved with the commit: [a49914](https://github.com/Cyclodex/cyclone/commit/a49914fa7c133671bb26dc68d5c5e255231c76b1)

[2017-10-08 21:07] #57 closed, assigned to Cyclodex

[2017-10-18 22:36] Cyclodex commented on #50
Basic feature is done

[2017-10-18 22:36] #50 closed, assigned to Cyclodex

[2017-10-18 22:39] Cyclodex commented on #52
Basically, this feature changed completely, but still having issues with auto-switching the day. This will be handled separately as an enhancement.
However it should have reached a more stable way how we deal with the day (instead of "today")

[2017-10-18 22:39] #52 closed, assigned to Cyclodex

[2017-10-18 22:42] Cyclodex commented on #30
Related tasks:
#64
#63

[2017-10-19 13:07] davidsandoz opened #69 "Increase width of task input field"
In the logged items, the "Task / Issue" field is only 150px wide, which is quite small, notably on large screens. And there is a huge white space gap up to the right side of the bar where nothing is ever shown.

**Proposal**: Make the "Task / Issue" field take the whole space available in width.

[2017-10-19 15:31] Cyclodex commented on #68
Stays how it is for now. I could further improve it, but that's for later and New Task.

[2017-10-19 15:31] #68 closed, assigned to nobody

[2017-10-21 12:00] Cyclodex opened #70 "Upgrade webpack to latest version and improve build setup"
Still using the webpack 1.x version which is super old and deprecated now.

Update to webpack v2 and then v3 to make sure we are up to date.

Improve the build system a bit, so I can more easily deploy new releases.

[2017-10-21 12:15] #63 closed, assigned to nobody

[2017-10-21 12:16] #64 closed, assigned to nobody

[2017-10-21 12:17] Cyclodex commented on #70
We don't need an issue, when there is a pull request I think, see #71

[2017-10-21 12:17] #70 closed, assigned to Cyclodex

[2017-10-21 12:20] Cyclodex commented on #30
Lots improved and changed to more component driven setup.
Some issues might be around with the new architecture but we go ahead this way now. Further progress will happen in new issues.

[2017-10-21 12:20] #30 closed, assigned to Cyclodex

[2017-10-21 13:49] Cyclodex commented on #51
We could re-test this with the latest version, however still offline usage is not a high prio here.

[2017-10-22 19:53] Cyclodex opened #73 "Make time-types configurable in the backend"
Things get more configurable.
It seems that not everybody needs/uses all the types (like **trust** or **internal**).   (-> @alesiom)
So for users who want to only track time and breaks, we could make this optional.

Further making the entries completely configurable in the backend, would make it even more flexible.

[2017-10-22 20:12] Cyclodex opened #74 "Do not focus the project input when already filled"
When switching the view, the project input gets focus, this forces the autocomplete to open.

I think it doesn't make sense to autofocus the input when it already contains text.
Maybe there is also some further settings in the autocomplete which would improve the situation.

[2017-10-23 06:05] Cyclodex commented on #69
Done, thanks for the report.

[2017-10-23 06:05] #69 closed, assigned to Cyclodex

[2017-10-23 19:19] davidsandoz commented on #69
Awesome, thanks!

[2017-10-26 06:06] Cyclodex commented on #61
Interesting finding, even when my macbook is closed, it still seems to randomly execute the 1min timer and so runs the cyclone still in the background, this now leaded to a time entry at 00:17 for starting the day.

Not sure why but the scenario on the old cyclone was actually better, because it was redirected when I opened the macbook again. Will need to dig deeper into that, or solve the auto cr

[2017-11-14 12:17] renestalder opened #75 "Add license to the project"
That's only a small input. Would possibly like to fork your project but there is no LICENSE file at the moment. Would be great if you can add one at some point so we know what we're allowed to do and what not.

[2017-11-15 12:43] Cyclodex commented on #75
_Hey, are you still using it? I thought you are not :)_

I will check the license thing, but what are your plans, you want to contribute something? (Wondering)
Don't forget that this was my code base for learning AngularJS and might be not the best base or solution for you. But I am open to changes, improvements & ideas you have. Please share them.

I will read into the license, but you should be

[2017-11-15 15:01] Cyclodex commented on #75
Checked this mess of licenses to open up Cyclone, instead of keeping the GitHub defaults:

And I think I will go with the [GPLv3](https://choosealicense.com/licenses/gpl-3.0/).
This because I want that changes to it have to be contributed/shared and stay available to all people.

@renestalder what do you think, would this solve your problem? I am open for discussion depending on what your needs ar

[2017-11-16 00:44] Cyclodex commented on #66
Decision: Will keep it separate from cyclone, using some existing tools.

[2017-11-16 00:44] #66 closed, assigned to nobody

[2017-11-16 00:45] Cyclodex commented on #65
Decision: Will keep it separate from cyclone, using some existing tools. (for now)

[2017-11-16 00:45] #65 closed, assigned to nobody

[2017-11-16 00:47] Cyclodex commented on #51
Closing because of inactivity / nothing reported and no focus on this feature.

[2017-11-16 00:47] #51 closed, assigned to Cyclodex

[2017-12-11 18:07] Cyclodex commented on #75
Looks like this is fine. Closing ticket.

[2017-12-11 18:07] #75 closed, assigned to renestalder, Cyclodex

[2017-12-15 07:44] renestalder commented on #75
Seems like my e-mail reply in November never made it back to Github. Anyway, that's fine with GPLv3. I'm not the master of licenses, so cannot say exactly what limitations it will have. But at least that now allows everyone to fork your project. Thanks.

[2017-12-20 10:17] davidsandoz opened #77 "Marking a task as done with the keyboard doesn't trigger moving it in "Done""
If you navigate on Cyclone with the keyboard up to a checkbox and hit space or enter to check it, the checkbox gets checked, but the task is not moved in the "Done" section and the time is not copied in the clipboard.

I suppose that the event listener is only on `click` and not on `change`.

[2017-12-26 23:10] Cyclodex commented on #77
Thanks for reporting, will check it.

[2017-12-27 22:15] Cyclodex commented on #61
Working on this, decided that Cyclone will show a "Good morning" message and asking for when you started today.

I need to cover the following tasks:

- [x] Switch date automatically
- [x] Recognize multiple loadings, in case the laptop is "night active" (while being closed)
- [x] Suggest the latest visit as the "Starting the day" entry
- [x] Enable user to optionally select an other time from ear

[2017-12-27 22:18] Cyclodex opened #78 "Highlight the entry in the list where the current timer will go to"
While checking some old screens, there was an idea about showing which entry will get the current timer if a match exist, might be fun to show this. (but not in the way it is shown in the design)

- https://projects.invisionapp.com/share/DMC3QSQKA#/screens/238262655

[2018-01-08 23:50] Cyclodex commented on #77
Sometimes I hate those small details.

1. The clipboard feature doesn't work with the keyboard when using on the template. So I went the `ng-change` way.
1. The next problem was, that using the clipboard feature looses the focus
1. To fix this I had to implement a workaround, because `ng-change` doesn't work with `$event` to know the just used element.

I will test a little bit more, and then merg

[2018-01-08 23:50] #77 closed, assigned to Cyclodex

[2018-01-17 18:15] Cyclodex opened #80 "Make time format configurable"
Different users, different needs. The time in decimal is of no use for me personally, but others rely on that for their tooling.

Lets make this configurable for every user.

[2018-01-17 18:18] Cyclodex opened #81 "Make configurable what will be copied when checking a task as completed"
Right one, the checkbox for checking a task as DONE copies the decimal time into the clipboard.

While this was useful on previous tooling, I have no use of this number, and would like to disable this copy functionality as it messes up my copy/paste.

Different users, different needs, lets make this configurable.

Think further if it would be nice to have different options, to copy the issue text,

[2018-03-03 15:44] Cyclodex commented on #81
Implemented and live since beta4

[2018-03-03 15:44] #81 closed, assigned to nobody

[2018-03-03 15:46] Cyclodex opened #82 "Improve Task/Issue field to improve handling of URLs"
Tasks/Issues can mostly be used directly with the URL.
Cyclone would be nice to show this as a link, and shorten the URL when not displayed.

[2018-03-03 16:11] Cyclodex commented on #80
In beta4

[2018-03-03 16:11] #80 closed, assigned to Cyclodex

[2018-03-03 16:12] Cyclodex commented on #61
New version released. This is enough for the moment.

[2018-03-03 16:12] #61 closed, assigned to Cyclodex

[2018-03-05 07:34] davidsandoz opened #83 "Coping time from task view returns NaN"
From the *task view,* when marking a task as done, instead of copying the time (set to decimal in my case), I get NaN in my clipboard. It was even only for a 1-slot task.

This doesn't happen in the *time view*.

Aside from that, thanks for the great update 🙂

[2018-03-06 12:32] Cyclodex commented on #83
Hello @davidsandoz , nice you received the update! Hope the rest works still for you, I try to not break your experience, even I have to add some new features for other usages :) (like these time format features)
I am sorry for the bug, the good news is, it is already fixed on the dev-branch, I will try to publish soon as possible an other update! Thanks for reporting the issue!

[2018-03-06 14:36] davidsandoz commented on #83
Nice that you manage to create an interface that works for everyone ! I didn't notice anything else wrong. Thanks for fixing this bug 👍

[2018-03-08 21:49] Cyclodex commented on #83
This is fixed and deployed with beta5 now. Have fun!

[2018-03-08 21:49] #83 closed, assigned to Cyclodex

[2018-03-08 21:53] Cyclodex commented on #82
This is now also live with beta5.

@davidsandoz you could now also paste the URL of a ticket into the "Task/Issue" field.
It will reduce the text when not focused / editing and show you a link to the ticket. (for easy click action to open it)
Maybe this is also helpful for you, it is for me! Cheers ;)

[2018-03-08 21:53] #82 closed, assigned to Cyclodex

[2018-03-09 07:08] davidsandoz commented on #83
Great! Thanks for the fix!

[2018-09-08 22:05] #67 closed, assigned to nobody

[2018-09-19 07:55] davidsandoz commented on #60
Hey @Cyclodex, thanks for the release 1.0.0!

I just wanted to say that this issue is still relevant for me, in case you have some time and need to figure out what to prioritize :-)

[2018-09-24 20:06] Cyclodex commented on #60
Hey @davidsandoz, so you still want stats about projects or even tasks? Is the focus on daily, weekly or monthly time range ?

[2018-09-24 21:22] davidsandoz commented on #60
What would be useful for me is stats about projects in the daily view 🙂

[2020-04-18 15:53] #29 closed, assigned to nobody